
p {
  color: rgb(255, 0, 0);
  font-size: 20px;
  width: 200px;
  text-align: center;
}
body {
    color: blanchedalmond;
}
h1 {
  color: rgb(240, 96, 18);
  font-size: 36px;
  text-align: center;
}
#cutecat {
    object-position: center; 
}
